/* .users{ 
  display: grid;
  grid-template-columns: repeat(2, 1fr);
} */
#lower-space{
  margin-bottom: 100px;
}
.background{ 
  background-color: rgb(253, 251, 251)
  /* height: 360px; */
 } 
#one,#two,#three{
  width: 120px;
  height: 120px;
  border-radius: 50%;
}
.color{
  color: orange;
}
#bottom{
  margin-bottom: 120px;
}
img{
  width: 100%;
}
#first,#second,#third{
      box-shadow: rgb(17 17 26 / 10%) 0 0 16px;
      border-radius: 20px;
      /* height: 900px; */
      /* background-color: teal; */
}
.bannerOne{
  width: 80%;
  height: 500px;
}
p{
     text-align: center;
    color: #595959;
    font-family: "Cormorant", Sans-serif;
    font-size: 22px;
    font-weight: 200;
    font-style: italic;
}
